.airplane_deco {
    @apply absolute hidden;

    &.NoAI {
        @apply block;
    }

    &:not(.NoAI) {
        --duration: 10s;
        --y: 0px;

        top: var(--y);

        animation-name: none;
        animation-duration: var(--duration);
        animation-iteration-count: 1;
        animation-timing-function: linear;

        &.animate {
            @apply block;
            animation-name: airplane;
        }
    }
}

@keyframes airplane {
    0% {
        transform: translateX(0 - 100%);
    }
    100% {
        transform: translateX(100vw);
    }
}