.Banner {
    border: 3px solid red;
    perspective: 1100px;
}

.Banner .Container {
    border: 3px solid blue;
    transform: translateZ(-50rem);
    transform-style: preserve-3d;
}

.Banner .Container .Bird {
    --bird-size: 5rem;

    --duration: 10s;
    --y-offset: 0%;

    position: absolute;
    width: var(--bird-size);
    height: var(--bird-size);
    top: var(--y-offset);

    /* A clip path of a bird (90deg) */
    clip-path: polygon(0% 50%, 40% 45%, 60% 0%, 90% 40%, 100% 45%, 100% 55%, 90% 60%, 60% 100%, 40% 55%);

    /* Animation */
    animation: 
        round 10s linear infinite;

    filter: blur(30px) drop-shadow(0 0 10px black);
}

@keyframes round {
    0% {
        transform: rotateY(0deg) translateZ(20rem) rotate3d(1, 0, 0, 60deg);
    }
    50% {
        transform: rotateY(180deg) translateZ(20rem) rotate3d(1, 0, 0, 120deg);
    }
    100% {
        transform: rotateY(360deg) translateZ(20rem) rotate3d(1, 0, 0, 60deg);
    }
}