.Banner {
    border: 3px solid red;
    perspective: 1100px;
}

.Banner .Container {
    border: 3px solid blue;
    transform: translateZ(-100rem);
    transform-style: preserve-3d;
}

.Banner .Container .Bird {
    --bird-size: 5rem;
    --translate: -200%;
    --origin-x: 200%;
    --origin-y: 200%;

    --easing: linear;
    --duration: 10s;

    position: absolute;
    width: var(--bird-size);
    height: var(--bird-size);
    background-color: red;

    /* Animation */
    animation-name: round;
    animation-duration: var(--duration);
    animation-iteration-count: infinite;
    animation-timing-function: var(--easing);
    animation-fill-mode: forwards;
}

@keyframes round {
    0% {
        transform: rotateY(0deg) translateZ(288px)
    }
    100% {
        transform: rotateY(360deg) translateZ(288px)
    }
}